[Unit]
Description=Unattended Duplicity backup

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/duplicity-unattended --config /etc/duplicity-unattended/config.yaml
